#header1-0 H1 {
  color: #2969b0;
}
#header1-20 H1 {
  color: #2969b0;
}
#ext_menu-21 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-21 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-24 H1 {
  color: #2969b0;
}
#ext_menu-25 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-25 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-28 H1 {
  color: #2969b0;
}
#ext_menu-29 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-29 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-30 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-30 .mbr-article {
  color: #ffffff;
}
#msg-box5-30 .mbr-article P {
  color: #2969b0;
}
#msg-box5-32 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-32 .mbr-article {
  color: #ffffff;
}
#msg-box5-32 .mbr-article P {
  color: #2969b0;
}
#msg-box4-33 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-article P {
  color: #2969b0;
}
#header1-34 H1 {
  color: #2969b0;
}
#msg-box5-35 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-35 .mbr-article {
  color: #ffffff;
}
#msg-box5-35 .mbr-article P {
  color: #2969b0;
}
#ext_menu-36 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-36.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-36 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-37 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-37 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-37 .mbr-article {
  color: #ffffff;
}
#msg-box5-37 .mbr-article P {
  color: #2969b0;
}
#msg-box4-39 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-39 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-39 .mbr-article {
  color: #ffffff;
}
#msg-box4-39 .mbr-article P {
  color: #2969b0;
}
#msg-box4-40 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-40 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-40 .mbr-article {
  color: #ffffff;
}
#msg-box4-40 .mbr-article P {
  color: #2969b0;
}
#msg-box4-42 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-42 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-42 .mbr-article {
  color: #ffffff;
}
#msg-box4-42 .mbr-article P {
  color: #2969b0;
}
#content5-43 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-43 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-43 .mbr-article {
  color: #fff;
  text-align: center;
}
#header1-2 H1 {
  color: #2969b0;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#msg-box5-6 .mbr-article P {
  color: #2969b0;
}
#msg-box5-18 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-18 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-18 .mbr-article {
  color: #ffffff;
}
#msg-box5-18 .mbr-article P {
  color: #2969b0;
}
#msg-box4-19 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-19 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-19 .mbr-article {
  color: #ffffff;
}
#msg-box4-19 .mbr-article P {
  color: #2969b0;
}
#header1-4 H1 {
  color: #2969b0;
}
#msg-box5-22 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-22 .mbr-article {
  color: #ffffff;
}
#msg-box5-22 .mbr-article P {
  color: #2969b0;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-7 .mbr-header__text {
  color: #2969b0;
}
#msg-box5-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-7 .mbr-article {
  color: #ffffff;
}
#msg-box5-7 .mbr-article P {
  color: #2969b0;
}
#msg-box4-20 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .mbr-article P {
  color: #2969b0;
}
#msg-box4-21 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-21 .mbr-article {
  color: #ffffff;
}
#msg-box4-21 .mbr-article P {
  color: #2969b0;
}
#msg-box4-16 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-16 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-16 .mbr-article {
  color: #ffffff;
}
#msg-box4-16 .mbr-article P {
  color: #2969b0;
}
#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-article {
  color: #fff;
  text-align: center;
}
#ext_menu-36 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-36.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#ext_menu-36 .mbr-navbar__hamburger {
  color: #ffffff;
}
